<!DOCTYPE html>

<HTML>

<head>

  <title>Home Page </title>

</head>
{% block title %}Home Page{% endblock %}

{% block content %}
<body>
  <p> 16th Century Quest </p>
  <p>Student </p>
  <form>
    <drop down button for="username">Username</dron down button><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="studentPassword">
    <button id="studentLogin">log-in</button>
  </form>
  <p> Teachers </p>
  <form>
    <label for="username">Username</label><br>
    <input type="text" id="teacherUsehrname" name="teacherUsername"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password">
    <button for="log-in">log-in</button></form></br>
   
      <button for="Guest">Guest</button>
      <br></br>
    <button for="Create an account">Create an account</button> <!-- when user clicks this, the following will appear-->
      <section class="header"><h1>Register</h1> </section>
      <form method="post" action="php/register.php" class="register-form">
        {if errors %} <div class="error">Correct errors</div>{% endif %}
        <label for="forename">Forename: </label>
        <input type="text" id="forename" name="forename" value="{{ member.forename }}">
        <div class="error">{{ errors.forename }}</div>
        <label for="surname">Surname: </label>
        <input type="text" id="surname" name="surname" value="{{ member.surname }}">
        <div class="error">{{ errors.surname }}</div>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" value="{{ member.email }}">
        <div class="error">{{ errors.email }}</div>
        <label for ="password">Password: </label>
        <input type="password" id="password" name="password">
        <div class="error">{{ errors.password }}</div>
        <label for="confirm">Confirm password: </label>
        <input type="password" id="confirm" name="confirm">
        <div class="error">{{ errors.confirm }}</div>
        <input type="submit" class="btn btn-primary" value="Register"> 

      </form>
        

</body >
</HTML>

